<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <appSettings>
    <!--COM连接-->
    <add key="ifUsingSerialPort" value=""/>
    <add key="numOfCOM" value=""/>
    <!--机器人配置-->
    <add key="currentRobotType" value=""/>
    <add key="currentRobotProgramType" value=""/>
    <add key="robotControllerIP" value=""/>
    <add key="robotConnectorIP" value=""/>
    <!--传感器配置-->
    <add key="currentSensorType" value=""/>
    <add key="forceSensorIP" value=""/>
    <add key="forceConnectorIP" value=""/>
    <add key="ifUsingForceSensor" value=""/>
    <!--机器人连接配置-->
    <add key="timeOutDurationMS" value=""/>
    <add key="ifProlongTimeOutDurationWhenConnectionBegin" value=""/>
    <add key="autoCheckingConnectableDurationMS" value=""/>
    <!--电流超限配置-->
    <add key="ifEnableCurrentOverFlowProtect" value=""/>
    <add key="currentOverFlowBoundValue" value=""/>
    <!--力/力矩超限配置-->
    <add key="ifEnableForceOverFlowProtect" value=""/>
    <add key="forceOverFlowBoundValue" value=""/>
    <add key="torqueOverFlowBoundValue" value=""/>
    <!--工具IO配置-->
    <add key="ifEnableToolIO" value=""/>
    <add key="digitalIOVoltage" value=""/>
    <!--标定相关配置-->
    <add key="probeCalibrationMaxAmplitudeDeg" value=""/>
    <add key="punctureUsingAttitudeFlag" value=""/>
    <!--工具末端移动参数-->
    <add key="fastSpeedL" value=""/>
    <add key="slowSpeedL" value=""/>
    <add key="minSpeedL" value=""/>
    <add key="fastAccelerationL" value=""/>
    <add key="slowAccelerationL" value=""/>
    <add key="minAccelerationL" value=""/>
    <!--关节角度移动参数-->
    <add key="fastSpeedj" value=""/>
    <add key="slowSpeedj" value=""/>
    <add key="minSpeedj" value=""/>
    <add key="fastAccelerationj" value=""/>
    <add key="slowAccelerationj" value=""/>
    <add key="minAccelerationj" value=""/>
    <!--弹窗尺寸配置-->
    <add key="titleSize" value=""/>
    <add key="messageSize" value=""/>
  </appSettings>
</configuration>
